*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.logo{
  font-family: lato;
}
.logo span{
  font-family: open sans;
  color: goldenrod;
}

.app__navbar{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000000;
  color: white;
  align-items: center;
}
.app__navbar-links{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: open sans;
}
.links__main{
  text-decoration: none;
  color: #ffffff;
}

.app__products{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}
.app__products-image{
  width: 300px;
  height: 240px;
}
.app__products-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.app__product-item{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0,.14);
}
.app__product-item p{
  font-family: open sans;
  font-weight: bold;
}
.add_cartbutton{
  width: fit-content;
  padding: .5rem 1rem;
  font-family: open sans;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px rgb(0, 0, 0,.4);
  cursor: pointer;
}
.add_cartbutton:hover{
  background: black;
  color: white;
}
.app__shop{
  text-align: center;
  padding: 4rem 2rem;
}

.app__cart-items{
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}
.app__cart{
  text-align: center;
  font-family: open sans;
}

.add__icon-items{
  color: green;
  font-size: 1.5rem;
  position: absolute;
  right: -5px;
  top: -5px;
  cursor: pointer;
}
.remove__icon-items{
  color: red;
  font-size: 1.5rem;
  position: absolute;
  right: -5px;
  bottom: -5px;
  cursor: pointer;
}

.app__product-item_cart{
  position: relative;
}
.item__count{
  position: absolute;
  right: 5px;
  bottom: 30px;
  cursor: pointer;
}
.app__products-image-cart{
  height: 120px;
  width: 150px;
}
.app__products-image-cart img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.app__empty-cart{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.app__-cart{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;


}
.app__-cart button{
  align-self: center;
  min-width: 200px;
  background-color: red;
  color: white;
}
.app__-cart button:nth-child(2){
  background-color: green;
  color: white;
  align-self: center;
  min-width: 200px;
}

.app__empty-cart button{
  background-color: green;
  color: white;
  align-self: center;
  min-width: 200px;
}
